<nav>
  <img class="applogo" src="/images/CaretakrWhite.png" alt="" />

  <div>
    <div class="circleimage">
      <!-- eventually user image goes here  -->
      <img src="http://image.shutterstock.com/z/stock-photo-young-man-making-a-funny-face-49678489.jpg" alt="" />
    </div>
    <div class="navbar">
      <a href="/settings">Settings</a>
      <a href="/auth/logout">Logout</a>
    </div>
  </div>
</nav>

<div class="left">
  <div class="leftnav household">
    <h3>Your Household</h3>
  </div>
  <div class="leftnav">
    <!-- Eventually users name as an hbs param goes below -->
    <h2 class='dependentsId'>John</h2>
  </div>
  <div class="leftnav">
    <h2 class='dependentsId'>Jane</h2>
  </div>
  <div class="leftnav">
    <h2 class='dependentsId'>Scruffles</h2>
    <i class="fa fa-paw fa-2x"></i>
  </div>
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'>Add new dependent</h2>

  </div>
</div>

<div class="right">
  <div class="row">
      <!-- Eventually get name from database -->
      <h2>John</h2>
  </div>

  <div class="row">
    <div class="list">
      <h3>Instructions</h3>
      <!-- Eventually child's information from databse -->
      <h4>Allergies</h4>
        <p>Peanuts, shellish, wheat.</p>
      <h4>Bed Time Routine</h4>
        <p>John goes to bed around 8 pm. If he's not tired, you can let him stay up until 9pm. Make sure he brushes his teeth and changes into pajamas. We usually read him 1-2 books. He likes the night light on.</p>
      <h4>TV Rules</h4>
      <p>He can watch an hour of TV, only kids channels.</p>
    </div>
    <div class="list">
      <h3>Contact</h3>
      <!-- Eventually contact info from databse -->
      <h4>My Phone</h4>
        <p>555-555-5555</p>
      <h4>Doctor's Phone</h4>
        <p>555-555-5555</p>
      <h4>Neighbor's Phone</h4>
        <p>555-555-5555</p>
      <h4>My Email</h4>
        <p>email@email.com</p>
    </div>
  </div>

  <div class="row">
    <section>
      <button>Update</button>
      <button>Delete</button>
    </section>
  </div>


</div>
