<div class="hero">
  <section>
    <button>Login</button>
    <button>Sign Up</button>
  </section>
  <img src="./public/images/CaretakrLogoWhite.png" alt="" />
</div>

<div class="container">
  <div class="row">

    <div class="signup col-med-5">
      <form action="auth/signup" method="post">
        <label for="username">Username</label><br>
        <input class="formputs" type="text" name="username"><br>
        <label for="password">Password</label><br>
        <input class="formputs password" type="password" name="password"><br>
        <label for="passwordcheck">Re-type Password</label><br>
        <input class="formputs password" type="password" name="passwordcheck"><br>
        <input type="submit" value="Sign Up">
      </form>
    </div>

    <div class="signup login col-med-5">
      <form action="/auth/login" method="post">
        <label for="username">Username</label><br>
        <input class="formputs" type="text" name="username"><br>
        <label for="password">Password</label><br>
        <input class="formputs password" type="password" name="password"><br>
        <input type="submit" value="Log in">
      </form>
      <a class="btn btn-danger text-center" href="/auth/google">Google+</a>
    </div>

  </div>
</div>
