<div class="hero">
  <section>
    <button>Login</button>
    <button>Sign Up</button>
  </section>
  <h1>Caretakr</h1>
</div>

<div class="signup">
  <form action="/signup" method="post">
    <label for="username">Username</label><br>
    <input class="formputs" type="text" name="username"><br>
    <label for="password">Password</label><br>
    <input class="formputs password" type="password" name="password"><br>
    <label for="passwordcheck">Re-type Password</label><br>
    <input class="formputs password" type="password" name="passwordcheck"><br>
    <input type="submit" value="Sign Up">
  </form>
</div>
