.mobileD {
  display: none;
  background-color: black;
  height: 80px;
}
.mobileD div {
  display: none;
}
.mobileD button {
  float: right;
  text-indent: 200%;
  overflow: hidden;
  background: rgba(255,255,255,0.8) url("http://i.imgur.com/vKRaKDX.png") center no-repeat;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.mobileD button.expanded {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}
.mobileA {
  display: block;
}
.mobileA {
  display: block;
}

.mobileA {
  background: #eee;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}
.mobileA:hover,
.mobileA:active,
.mobileA:focus {
  background: #e7e7e7;
}


.header {
  background-color: #B2DC80;
  padding: 25px 0px;
  height: 180px;
}

.indexNav {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  margin-top: 25px;
  margin-right: 10px;
}

.applogo{
  width: 140px;
  height: auto;
  margin-left: 30px;
}

.circleimage {
  width: 75px;
  height: 75px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  float: right;
  margin: 10px;
}

.circleimage > img{
  display: inline;
  margin: 0 auto;
  width: auto;
  display: block;
  max-height: 80px;
  width: auto;
}

.left{
  width: 20%;
  position: fixed;
  background-color: #FDA63A;
  height: 100%;
  border-right: 1px solid #333;
}

@media screen and (max-width: 600px){
  .left {
    display: none;
  }
  .applogo {
    display: none;
  }
  .indexNav {
    text-align: center;
  }
  .circleimage{
    display: none;
  }
  .header {
    height: 90px;
  }
  .hamburgerContainer {
    display: block;
  }
  .mobileD {
    display: block;
  }
  .home-btn{
    float: none;
  }
  .list {
    flex: 0 0 80%;
  }
  .row {
    flex-wrap: wrap;
  }
}
