.hamburger {
  display: none;
}

.header {
  background-color: #B2DC80;
  padding: 25px 0px;
  height: 180px;
}

.indexNav {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  margin-top: 25px;
  margin-right: 10px;
}

.applogo{
  width: 140px;
  height: auto;
  margin-left: 30px;
}

.circleimage {
  width: 75px;
  height: 75px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  float: right;
  margin: 10px;
}

.circleimage > img{
  display: inline;
  margin: 0 auto;
  width: auto;
  display: block;
  max-height: 80px;
  width: auto;
}

.left{
  width: 20%;
  position: fixed;
  background-color: #FDA63A;
  height: 100%;
  border-right: 1px solid #333;
}

@media screen and (max-width: 600px){
  .left {
    display: none;
  }
  .applogo {
    display: none;
  }
  .indexNav {
    text-align: center;
  }
  .circleimage{
    display: none;
  }
  .header {
    height: 90px;
  }
  /*.mobileD {
    display: block;
  }*/
  .home-btn{
    float: none;
  }
  .list {
    flex: 0 0 80%;
  }
  .row {
    flex-wrap: wrap;
  }
  .hamburger {
    display: block;
  }
}
