html
  height: 2000px;

.mobile
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  div
    display: none;
  button
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    background: rgba(255,255,255,.8) url(http://i.imgur.com/vKRaKDX.png) center no-repeat;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-size: 80%;
    width: 30px;
    height: 30px;
    outline: none;
    transition: all 400ms ease;
    &.expanded
      transform: rotate(90deg);
      background-color: transparent;
      border: 0;
  a
    display: block;

a
  background: #eee;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  &:hover, &:active, &:focus
    background: darken(#eee, 3%);

.desktop
  display: block;
  overflow: hidden;
  a
    width: 25%;
    float: left;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    &:last-child
      border-right: none;

article
  padding: 0 30px 15px;


@media (max-width: 800px)
  .mobile
    display: block;
  .desktop
    display: none;















nav{
  background-color: #B2DC80;
  padding: 25px 0px;
  height: 180px;
}

.indexNav {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  margin-top: 25px;
  margin-right: 10px;
}

.applogo{
  width: 140px;
  height: auto;
  margin-left: 30px;
}

.circleimage {
  width: 75px;
  height: 75px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  float: right;
  margin: 10px;
}

.circleimage > img{
  display: inline;
  margin: 0 auto;
  width: auto;
  display: block;
  max-height: 80px;
  width: auto;
}

.hamburger {
  display: none;
}

.hamburger > span {
  display: none;
}

.mobileDrop {
  background-color: black;
}

.left{
  width: 20%;
  position: fixed;
  background-color: #FDA63A;
  height: 100%;
  border-right: 1px solid #333;
}



@media screen and (max-width: 600px){
  .mobile {
    width: 375px;
  }
  .hamburger {
    display: block;
    height: 40px;
    width: 40px;
    color: blue;
    padding: 0px;
    float: right;
  }

  .hamburger > span {
    display: inline;
    color: black;
    padding: 0px;
    height: 10px;
    width: auto;
  }

  .left {
    display: none;
  }
  .applogo {
    display: none;
  }
  .indexNav {
    text-align: center;
  }
  .circleimage{
    display: none;
  }
  nav {
    height: 90px;
  }
}
