html,
body {
  height: 100%;
}
body {
  font: 14px 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 475px;
  height: auto;
}

.hero {
  background-image: url('http://i.imgur.com/NyPBTKh.jpg');
  height: 400px;
  background-size: cover;
}

.home-btn {
  border: 1px solid white;
  background-color: Transparent;
  color: white;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-left: 20px;
}

.mainContent {
  background-color: #B2DC80;
  height: 500px;
  display: block;
  padding-bottom: 20px;
}

.signup{
  padding: 25px 1%;
  /*flex: 0 0 50%;*/
  text-align: left;
}

.signup > form{
  background-color: white;
  padding: 15px 15px;
  margin-top: 50px;
}

.login {
  padding: 25px 1%;
  /*flex: 0 0 50%;*/
  text-align: left;
}

.login > form {
  background-color: white;
  padding: 15px 15px;
  margin-top: 50px;
  margin-right: 30px;
  margin-left: 15px;
}

.g-btn {
  margin: 5px;
}

input[type="text"]:focus, input[type="password"]:focus {
  color: #333;
  border: 1px solid #333;
  width: 120px;`
  outline: none;
}

input[type="text"], input[type="password"] {
  background-color: white;
  border: 0 none;
  border: 1px solid #333;
  color: #737373;
  width:100px;
  padding: 0px 0px;
  margin:3px 0px 15px 0px;
}

input[type="text"], input[type="password"] {
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}


footer {
  background-color: rgb(68, 68, 68);
  padding: 1px;
  height: 100px;
  text-align: center;
}

footer > h5 {
  margin-top: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 500px){
  .mobile{
    width: 375px;
  }
  .indexNav {
    text-align: center;
  }
  .logo {
    margin-top: 100px;
  }
  .g-btn {
    margin-left: 0px;
    margin-top: 15px;
  }
}
