html,
body {
    height: 100%;
}
body {
  font: 14px 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.hero{
  background-image: url('http://i.imgur.com/NyPBTKh.jpg');
  height: 400px;
  width: 100%;
  background-size: cover;
  display: table;
}
.hero > h1 {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 90px;
  text-transform: uppercase;
}
.hero > section > button, form > input[type='submit'], .row > section > button {
  border: 1px solid white;
  background-color: Transparent;
  color: white;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-left: 20px;
}
.hero > section{
  position: absolute;
  top: 20px;
  right: 50px;
}
.signup{
  background-color: #B2DC80;
  padding: 20px 5%;
  flex: 0 0 50%;
}
.signup > form{
  background-color: white;
  width: 60%;
  padding: 15px 15px;
  margin: 0px 0px;
}
.floatright{
  float:right;
}
input[type="text"]:focus, input[type="password"]:focus {
    color: #333;
    border: 1px solid #333;
    width: 120px;
    outline: none;
}

input[type="text"], input[type="password"] {
  background-color: white;
  border: 0 none;
  border: 1px solid #333;
  color: #737373;
  width:100px;
  padding: 0px 0px;
  margin:3px 0px 15px 0px;
}

input[type="text"], input[type="password"] {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
form > input[type='submit'], .row > section > button{
  border-color: #333;
  color: #333;
  margin-left: 0px;
}
form >label{
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}
nav{
  background-color: #B2DC80;
  padding: 25px 0px;
  height: 130px;
}
nav > h1{
  margin: 0px 15px;
  color: white;
  text-transform: uppercase;
}
.circleimage {
    width: 75px;
    height: 75px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: right;
    margin: 10px;
}
.circleimage > img{
  display: inline;
  margin: 0 auto;
  width: auto;
  display: block;
  max-height: 80px;
  width: auto;
}
nav > div {
  position: absolute;
  right: 40px;
  top: 0px;
}
.navbar{
  position:absolute;
  right: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
div > .navbar > a{
  color: white;
  margin: 0px 10px;
}
.left{
  width: 20%;
  position: fixed;
  background-color: #FDA63A;
  height: 100%;
  border-right: 1px solid #333;

}
.right{
  position: absolute;
  right: 0;
  z-index: 99;
  width:80%;
  padding: 30px 0px;
}
.leftnav{
  padding: 20px;
  border-bottom: 1px solid #333;
}
.leftnav > h2{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 30px 10px;
  text-align: center;
  font-size: 20px;
}
.list{
  flex: 0 0 35%;
  margin: 30px 0px 30px 7%;
  border: 1px solid #333;
  padding: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.list> h3{
  margin-top: 0px;
}
.right> h2, .row > h2{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
  padding-left: 5%;
}
.row{
  display: flex;
}
.right > .row{
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
}
h2 > a{
  color: white;
  font-size: 16px;
}
.leftnav > h2{
  display: inline;
}
i{
  display: inline;
}
.household{
  background-color: white;
}
.household > h3{
  color:#333;
  font-size: 25px;
  margin: 15px 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}
.right > .row > section{
  margin-left: 66%;
}
.right > .row > section > button{
  background-color: #FDA63A;
  border: none;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 500px;
  height: auto;
}
.applogo{
  width: 140px;
  height: auto;
  margin-left: 30px;
}
.new{
  background-color: #B2DC80;
}
.new > i {
  color: white;
}
.add{
  margin-left: 5%;
}
.smaller{
  font-size: 12px;
}
textarea{
  margin-bottom: 20px;
}
